Definition: Probability is a measure of the likelihood  of an event to occur.
Probability can range from 0 to 1, where 0 means the event to be an impossible one and 1 indicates a certain event.


Formula: is defined as the probability of an event to happen is equal to the ratio of the number of favourable outcomes.

In [9]:
#probabilty of getting 3 when a die is rolled
ns = 6 # n(S) = {1,2,3,4,5,6}
na = 1 # n(A) = {3}
pa = na/ns
print("probability of getting 3 is", pa)

probability of getting 3 is 0.16666666666666666

In [10]:
#probability of atleast getting one head when a coin is tossed thrice
ns = 8 # {HHH, HHT, HTH, THH, TTH, THT, HTT, TTT}
na = 7 # {HHH, HHT, HTH, THH, TTH, THT, HTT}
pa = na/ns
print("probability of getting atleast one head is:", pa)

probability of getting atleast one head is: 0.875

In [11]:
# A glass jar contains 5 red, 3 blue and 2 green jelly beans. If a jelly bean is chosen at random from the jar, 
# what is the probability that it is not blue?

ns = 10 # {5red, 3blue, 2green}
na = 7 # {5red, 2green}
pa = na/ns
print("probability of getting not blue jelly bean is:", pa)

probability of getting not blue jelly bean is: 0.7

**Independent and Dependent Events**

If the occurence of any event is completely unaffected by the occurrence of any other event, such are independent event
and the events which are affected by other events are dependent events.

In [12]:
# If the prob that person A will be alive in 20 years is 0.7 and the prob that person B will be alive is 0.5, 
# what is the probabilty that they will both be alive in 20 years.

# These are independent events, so
p = 0.7 * 0.5
print("probabilty that they will both be alive in 20 years:", p)

probabilty that they will both be alive in 20 years: 0.35

In [13]:
def event_probability(n,s):
  return n/s

In [14]:
# A fair die is tossed twice. Find the probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss.

pa = event_probability(2,6)
pb = event_probability(3,6)
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss:", P)

probability of getting a 4 or 5 on the first toss and a 1,2 or 3 in the second toss: 0.16666666666666666

In [15]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles. In each draw, a marble is drawn from the bag and not replaced.
# In three draw, find the probability of obtaining white, black and green in that order

pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
P = pw*pb*pg
print("probability of obtaining white, black and green in that order is:",P)

probability of obtaining white, black and green in that order is: 0.041666666666666664

In [16]:
# Calculate the proobability of drawing a heart or a club

cards = 52 # sample space
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)
print(heart_or_club)

0.5

In [17]:
# Calculate the proobability of drawing an ace, king or a queen

aces = 4
kings = 4
queens = 4
ace_king_or_queen = event_probability(aces, cards) + event_probability(kings, cards) + event_probability(queens, cards)
print(ace_king_or_queen)

0.23076923076923078

In [18]:
# Calculate the proobability of drawing a heart or an ace

hearts = 13
aces = 4
ace_of_hearts = 1
heart_or_ace = event_probability(hearts, cards) + event_probability(aces, cards) - event_probability(ace_of_hearts, cards)
print(round(heart_or_ace, 1))

0.3

**Complementary Events**

For any event E1 there exists another event E1' which represents the remaining elements of the sample space S

In [19]:
# probability of not getting 5 when a fair die is rolled

ns = 6 #{1,2,3,4,5,6}
na = 1 #{5}
pa = na/ns
print("probability of not getting 5 is:", 1-pa)

probability of not getting 5 is: 0.8333333333333334

**Conditional Probability**

The formula is P(A|B) = P(A OR B) / P(B)

In [5]:
# Calculate the probability a student gets an A(80%+) in math, given they miss 10 or more classes
import pandas as pd
import numpy as np
df = pd.read_csv('student-mat.csv')
df.head(3)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6   6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[3 rows x 33 columns]

In [6]:
len(df)

395

We are only concerned with the columns, absences and G3(final grade from 0 to 20)

In [7]:
df['grade_A']= np.where(df['G3']*5 >= 80, 1, 0)

df['high_absences']= np.where(df['absences'] >= 10, 1, 0)

df['count'] = 1

df = df[['grade_A', 'high_absences', 'count']]
df.head()

   grade_A  high_absences  count
0        0              0      1
1        0              0      1
2        0              1      1
3        0              0      1
4        0              0      1

In [8]:
final = pd.pivot_table(
    df,
    values = 'count',
    index = ['grade_A'],
    columns = ['high_absences'],
    aggfunc = np.size,
    fill_value = 0
)

print(final)

high_absences    0   1
grade_A
0              277  78
1               35   5